<h1 class="text-center"><strong>Clientes</strong></h1>
<div class="row">
    <h4 class="text-left">Datos</h4>
    <hr>
    <form [formGroup]="form" (ngSubmit)="saveCustomer()">
        <table class="table-input" cellspacing="0"><tr>
            <td><mat-form-field appearance="fill" class="form-group">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="firstName">
                </mat-form-field></td>
            <td><mat-form-field appearance="fill" class="form-group">
                <mat-label>Apellido</mat-label>
                <input matInput formControlName="lastName">
            </mat-form-field></td>
        </tr></table>
        <table class="table-input" cellspacing="0"><tr>
            <td><mat-form-field appearance="fill" class="form-group">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="phone">
                </mat-form-field></td>
            <td><mat-form-field appearance="fill" class="form-group">
                <mat-label>Correo electrónico</mat-label>
                <input matInput type="email" formControlName="email">
            </mat-form-field></td>
        </tr></table>
        <mat-form-field appearance="fill" class="form-group">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="addressStreet">
        </mat-form-field>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" [disabled]="form.invalid" >Guardar</button>
        </div>        
    </form>
</div>
<div class="row">
    <h4 class="text-left">Lista</h4>
    <hr>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="customerService.list">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName + ' ' + element.lastName}} </td>
            </ng-container>
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Teléfono </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Correo electrónico </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef> Dirección </th>
                <td mat-cell *matCellDef="let element"> {{element.addressStreet}} </td>
            </ng-container>     
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element" class="action-link"> 
                    <a style="color: green;" (click)="updateCustomer(element)"><mat-icon> edit </mat-icon></a>
                    <a style="color: red;" (click)="deleteCustomer(element.customerId)"><mat-icon> delete </mat-icon></a>  
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
