.row {
  padding: 20px;
  width: 95%;
}

.table-input {
  width: 100%;
}

.btn-primary {
  margin: 0px 20px 0px 20px;
}

mat-form-field {
  width: 100%;
  padding: 0px 20px 0px 20px;
}

.mat-elevation-z8 {
  margin: 10px 25px 0px 25px;
}

.mat-elevation-z8 table {
  width: 100%;
}